.parent {
  display: flex;
}

.mainBody {
  flex: 1;
}

.sideMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-style: solid;
  border-width: 1px;
  height: 400px;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
  padding-left: 5px;
}

.driverMenuContainer {
  display: flex;
  justify-content: space-between;
  max-width: 70%;
}

.driverMenuDayContainer {
  display: flex;
}

.driverInfo {
  text-align: center;
  width: 200px;
  
}

.driverMenu {
  flex: 1;
}

.dayOfWeek {
  width: 30px;
  height: 30px;
  border-style: solid;
  border-width: 1px;
}

.driven {
  background-color: green;
}

.dayOfWeekContainer {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}